                  body, html {
                  /*height: 100%;*/
                  border: 0;
                  margin: 0;
                  padding: 0;
                  /*background-color: black;*/
                }

                .arrowbutton {
                  display: inline-block!important;
                  position: relative;
                  width: 60px;
                  height: 60px;
                  border-radius: 100%;
                  background: rgba(0, 0, 0, 0);
                  border: calc(60px/8) solid #009FE3;
                  box-sizing: content-box
                }

                .arrowbutton:before {
                  position: absolute;
                  content: '';
                  margin: auto;
                  width: calc(60px/3.5);
                  height: calc(60px/3.5);
                  background: rgba(0, 0, 0, 0);
                  border: calc(60px/8) solid #009FE3;
                  border-right: none;
                  border-top: none;
                  top: 0;
                  bottom: calc(60px/8);
                  left: 0;
                  right: 0;
                  transform: rotate(-45deg);
                  box-sizing: content-box
                }

                .navigation {
                  display: none;
                }

                .logophone {
                  display: none;
                }

                .menu-container {
                  display: flex;
                  display: -webkit-flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: center;
                  height: 60px;
                  width: 100%;
                  position: fixed;
                  top: 30px;
                  color: inherit;
                  z-index: 1;
                }

                .menu>a {
                  text-decoration: none;
                  font-family: 'Yantramanav', sans-serif;
                  color: rgba(0, 159, 227, 1);
                  font-size: 20px;
                  letter-spacing: 4px;
                  width: auto;
                  height: 35px;
                  margin: 10px;
                  border: 1px;
                }

                .column {
                  margin-top: 40px;
                  width: 50%;
                  float: left;
                }

                .circletext {
                  width: 200px;
                  height: 200px;
                  background: black;
                  -moz-border-radius: 100px;
                  -webkit-border-radius: 100px;
                  border-radius: 100px;
                  margin-top: 15%;
                  margin-left: auto;
                  margin-right: auto;
                }

                h1 {
                  font-family: 'Fredericka the Great';
                  font-size: 50px;
                  color: white;
                  text-align: center;
                  line-height: 100%;
                  position: relative;
                  margin: 0;
                  padding-top: 28px;
                  padding-left: 10px;
                  padding-right: 10px;
                }

                .blurtext {
                  float: left;
                  width: 40%;
                  margin-top: 15%;
                  font-family: 'Open Sans', sans-serif;
                  font-style: 300;
                  color: black;
                  font-size: 14px;
                  line-height: 200%;
                  /*align-items: flex-end;*/
                }

                .quote {
                  font-family: 'Fredericka the Great', cursive;
                  font-weight: 400;
                  font-size: 23px;
                  letter-spacing: 2px;
                  color: rgba(0, 159, 227, 1);
                }

                .info {
                  font-family: 'Libre Franklin';
                  font-style: bold;
                  font-weight: 400;
                  font-size: 20px;
                  letter-spacing: 2px;
                  text-align: right;
                  margin-right: 15%;
                  margin-top: 10%;
                }

                .namebox, .emailbox {
                  font-family: 'Libre Franklin';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 10px;
                  letter-spacing: 2px;
                  text-align: right;
                  margin-top: 10%;
                  padding-right: 3%;
                  padding-top: 5%;
                  color: grey;
                  width: 72%;
                  border: 1px solid black;
                  position: relative;
                  /*right: 0;*/
                  left: 10%;
                }

                .messagebox {
                  font-family: 'Libre Franklin';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 10px;
                  letter-spacing: 2px;
                  text-align: right;
                  margin-top: 10%;
                  padding-right: 3%;
                  padding-top: 45%;
                  color: grey;
                  width: 72%;
                  border: 1px solid black;
                  position: relative;
                  /*right: 0;*/
                  left: 10%;
                }

                .btn {
                  align-items: center;
                  font-family: 'Libre Franklin';
                  color: #ffffff;
                  font-size: 18px;
                  background: #000000;
                  padding: 5px 30px 5px 30px;
                  text-decoration: none;
                  margin-top: 10%;
                  margin-right: 14%;
                  width: 15%;
                  text-align: center;
                  float: right;
                  letter-spacing: 4px;
                }

                .btn:hover {
                  background: #009fe3;
                  text-decoration: none;
                }
                /*___________________________*/
                /*iphone5 @media*/

                @media screen and (max-width: 789px) {
                  /*turn offmenu-container**/
                  .menu-container {
                    display: none;
                  }
                  .column {
                    /*display: block;*/
                    width: 100%;
                  }
                  .circletext {
                    width: 200px;
                    height: 200px;
                    background: black;
                    -moz-border-radius: 100px;
                    -webkit-border-radius: 100px;
                    border-radius: 100px;
                    margin-top: 25%;
                    margin-left: auto;
                    margin-right: auto;
                  }
                  h1 {
                    font-family: 'Fredericka the Great', cursive;
                    font-size: 50px;
                    color: white;
                    text-align: center;
                    line-height: 100%;
                    position: relative;
                    margin: 0;
                    padding-top: 28px;
                    padding-left: 10px;
                    padding-right: 10px;
                  }
                  .blurtext {
                    position: relative;
                    float: none;
                    width: auto;
                    border-left: 10%;
                    border-right: 10%;
                    padding-left: 10%;
                    padding-right: 10%;
                  }
                  .quote {
                    font-family: 'Fredericka the Great', cursive;
                    font-weight: 400;
                    font-size: 23px;
                    letter-spacing: 2px;
                    color: rgba(0, 159, 227, 1);
                  }
                  .info {
                    font-family: 'Libre Franklin';
                    font-style: bold;
                    font-weight: 400;
                    font-size: 20px;
                    letter-spacing: 2px;
                    text-align: center;
                    margin-right: auto;
                    margin-top: 10%;
                  }
                  .namebox, .emailbox {
                    font-family: 'Libre Franklin';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    letter-spacing: 2px;
                    text-align: right;
                    margin-top: 10%;
                    padding-right: 3%;
                    padding-top: 5%;
                    color: grey;
                    width: 72%;
                    border: 1px solid black;
                    position: relative;
                    /*right: 0;*/
                    left: 10%;
                  }
                  .messagebox {
                    font-family: 'Libre Franklin';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    letter-spacing: 2px;
                    text-align: right;
                    margin-top: 10%;
                    padding-right: 3%;
                    padding-top: 45%;
                    color: grey;
                    width: 72%;
                    border: 1px solid black;
                    position: relative;
                    /*right: 0;*/
                    left: 10%;
                  }
                  .btn {
                    position: relative;
                    font-family: 'Libre Franklin';
                    color: #ffffff;
                    font-size: 18px;
                    background: #000000;
                    padding: 5px 30px 5px 30px;
                    text-decoration: none;
                    margin-top: 10%;
                    margin-bottom: 5%;
                    width: 15%;
                    text-align: center;
                    letter-spacing: 4px;
                    display: inherit;
                    float: none;
                    margin: 50px auto 50px auto;
                    /*margin-left: auto;*/
                    /*margin-right: auto;*/
                  }
                  .btn:hover {
                    background: #009fe3;
                    text-decoration: none;
                    padding: none;
                  }
                  .toptext>h2, .toptext>p, .text1>p {
                    display: none;
                  }
                  .toptext>h1 {
                    position: relative;
                    font-size: 80px;
                    letter-spacing: 1px;
                    color: black;
                    text-align: center;
                    font-family: 'Fredericka the Great', cursive;
                    top: 3%;
                    margin-top: 80px;
                  }
                  /*end turn off menu-container*/
                  .navigation {
                    z-index: 3;
                    display: inline-block;
                  }
                  /*tomlau logo*/
                  .logophone {
                    position: fixed;
                    right: 50Px;
                    top: 50px;
                    z-index: 3;
                    display: inline;
                  }
                  /*end tomlau logo*/
                  /*hamburger*/
                  body {
                    margin: 0;
                    padding: 0;
                    font-family: 'Libre Franklin', sans-serif;
                    font-style: 600;
                  }
                  a {
                    text-decoration: none;
                    color: #009FE3;
                    transition: color 0.3s ease;
                  }
                  a:hover {
                    color: tomato;
                  }
                  #menuToggle {
                    display: block;
                    position: fixed;
                    top: 50px;
                    left: 50px;
                    z-index: 3;
                    -webkit-user-select: none;
                    user-select: none;
                  }
                  #menuToggle input {
                    display: block;
                    width: 40px;
                    height: 32px;
                    position: absolute;
                    top: -7px;
                    left: -5px;
                    cursor: pointer;
                    opacity: 0;
                    /* hide this */
                    z-index: 2;
                    /* and place it over the hamburger */
                    -webkit-touch-callout: none;
                  }
                  /*
* Just a quick hamburger
*/
                  #menuToggle span {
                    display: block;
                    width: 33px;
                    height: 4px;
                    margin-bottom: 5px;
                    position: relative;
                    background: #009FE3;
                    border-radius: 3px;
                    z-index: 1;
                    transform-origin: 4px 0px;
                    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
                  }
                  #menuToggle span:first-child {
                    transform-origin: 0% 0%;
                  }
                  #menuToggle span:nth-last-child(2) {
                    transform-origin: 0% 100%;
                  }
                  /*
* Transform all the slices of hamburger
* into a crossmark.
*/
                  #menuToggle input:checked~span {
                    opacity: 1;
                    transform: rotate(45deg) translate(-2px, -1px);
                    background: #009FE3;
                  }
                  /*
* But let's hide the middle one.
*/
                  #menuToggle input:checked~span:nth-last-child(3) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                  }
                  /*
* Ohyeah and the last one should go the other direction
*/
                  #menuToggle input:checked~span:nth-last-child(2) {
                    opacity: 1;
                    transform: rotate(-45deg) translate(0, -1px);
                  }
                  /*
* Make this absolute positioned
* at the top left of the screen
*/
                  #menu {
                    position: absolute;
                    width: 150px;
                    margin: -100px 0 0 -50px;
                    padding: 50px;
                    padding-top: 125px;
                    background: #ededed;
                    list-style-type: none;
                    -webkit-font-smoothing: antialiased;
                    /* to stop flickering of text in safari */
                    transform-origin: 0% 0%;
                    transform: translate(-100%, 0);
                    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
                  }
                  #menu li {
                    padding: 10px 0;
                    font-size: 22px;
                  }
                  /*
* And let's fade it in from the left
*/
                  #menuToggle input:checked~ul {
                    transform: scale(1.0, 1.0);
                    opacity: 1;
                  }
                  /*end hamburger*/
